<header class="masthead">
  <nav class="language-nav">
    <ul>
        <li>CSS</li>
        <li>HTML</li>
        <li>Javascript</li>
        <li>Ruby</li>
    </ul>
  </nav>
  <img src="assets/AA_Times_Logo.png" alt="App Academy Times">
  <nav>
    <ul class="masthead-links">

      <li>Tuesday, October 18, 2016</li>
      <li>
        <span class="media-links">
          Today’s Paper
        </span>
      </li>
      <li>
        <span class="media-links">
          Video
        </span>
      </li>
      <li>
        <button type="button">77°F</button>
      </li>
      <li>
        <button type="button">
          AAO <strong>+100%</strong>
        </button>
      </li>




    </ul>
  </nav>

</header>
